
.slider {
  height: auto;
}
.theThreeDots {
  height: "400px";

}
.underneathSlider {
  background-color: "royalblue";
  padding-bottom:"900px";
}
ion-icon {
        font-size: 30px; //Preferred size here
}
.thePics{
  height: 600;
}
memberButton{
  //background-image:("assets/imgs/membership.png");
}
.swiper-pagination-bullet-active {
background: red;
opacity: 1;
}
.swiper-pagination-bullet{
  background: white;
}
